{% extends "shared/_layout.html" %}

{% block title %}Note Page{% endblock %}

{% block scripts %}
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endblock %}

{% block content %}
    <a href='/pages/edit/{{ page.id }}/'>edit</a>
    <div class='page-content'>
        {{ content|safe }}
    </div>

    <form action="/pages/edit/{{ page.id }}/attachments/" method="POST" enctype="multipart/form-data">
        <input type="hidden" value="{{ page.id }}">
        <input type="file" name="file" id="file">
        <input type="submit">
    </form>

    <div class='file-list'>
        <table>
        {% for file in files %}
        <tr>
            <td>
                <a href="/pages/{{ page.id }}/{{ file }}">{{ file }}</a>
            </td>
            <td>
                <form action="/pages/edit/{{ page.id }}/attachments/{{ file }}/delete" method="post">
                 <button type="submit">delete</button>
              </form>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
