{% extends "shared/_layout.html" %}

{% block title %}Note Page{% endblock %}

{% block scripts %}
    <script>
    MathJax = {
      tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
    };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endblock %}

{% block content %}
    <a href='/pages/edit/{{ page.id }}/'>edit</a>
    <div class='page-content'>
        {{ content|safe }}
    </div>

    <form action="/pages/edit/{{ page.id }}/attachements/" method="POST" enctype="multipart/form-data">
        <input type="hidden" value="{{ page.id }}">
        <input type="file" name="file" id="file">
        <input type="submit">
    </form>

    <div class='file-list'>
        {% for file in files %}
            <a href="/pages/1/{{ file }}">{{ file }}</a>
        {% endfor %}
    </div>

{% endblock %}
